@import "fonts.less";
@import "mixins.less";
@import "vars.less";

body {
    background: @body-background;
}

.main{
    h1 {
        .bebas(95px);
        font-weight: normal;
        margin: 0;
    }
    h3 {
        .bebas(45px);
        font-weight: normal;
        margin: 0;
    }
}

ul.timeline {
	border-left: 2px solid @timeline-rule;
	position: absolute;
    left: 120px;
    height: 700px;
	li {
		background: none repeat scroll 0 0 @timeline-rule;
    	border: 2px solid @body-background;
    	border-radius: 50% 50% 50% 50%;
    	display: block;
    	height: 17px;
    	position: relative;
    	left: -51px;
    	list-style: none outside none;
    	width: 17px;
    	margin: 99px 0;
        &:first-child {
            margin-top: 0;
        }
		span {
            color: @timeline-rule; 
            font-family: "Bebas Neue";
            font-size: 36px;
			left: -64px;
            top: -12px;
    		position: relative;
		}
	}
}
.main {
    margin-left: 250px;
}

article {
    display: inline-block;
}



