/*--- Fonts ---*/
@font-face {
  font-family: 'BebasNeueRegular';
  src: url('../fonts/BebasNeue-webfont.eot');
  src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/BebasNeue-webfont.woff') format('woff'), url('../fonts/BebasNeue-webfont.ttf') format('truetype'), url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
  font-weight: 400;
  font-style: normal;
}
/*----- Mixins -----*/
.box-sizing {
  -moz-box-sizing: border-box;
  /* Firefox */

  -webkit-box-sizing: border-box;
  /* Safari */

  box-sizing: border-box;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #eeefec;
}
.main h1 {
  /* Bebas mixin implemantation */

  font-family: 'BebasNeueRegular', Arial, FreeSans, sans-serif;
  font-size: 95px;
  font-weight: normal;
  margin: 0;
}
.main h3 {
  /* Bebas mixin implemantation */

  font-family: 'BebasNeueRegular', Arial, FreeSans, sans-serif;
  font-size: 45px;
  font-weight: normal;
  margin: 0;
}
ul.timeline {
  border-left: 2px solid #c1c1c1;
  position: absolute;
  left: 120px;
  height: 700px;
}
ul.timeline li {
  background: none repeat scroll 0 0 #c1c1c1;
  border: 2px solid #eeefec;
  border-radius: 50% 50% 50% 50%;
  display: block;
  height: 17px;
  position: relative;
  left: -51px;
  list-style: none outside none;
  width: 17px;
  margin: 99px 0;
}
ul.timeline li:first-child {
  margin-top: 0;
}
ul.timeline li span {
  color: #c1c1c1;
  font-family: "Bebas Neue";
  font-size: 36px;
  left: -64px;
  top: -12px;
  position: relative;
}
.main {
  margin-left: 250px;
}
article {
  display: inline-block;
}
