@import "fonts.less";
@import "mixins.less";
@import "vars.less";

.main{
    h1 {
        .bebas(95px);
        font-weight: normal;
    }
}

ul.timeline {
	border-left: 2px solid @timeline-rule;
	position: absolute;
    left: 120px;
    height: 700px;
	li {
		background: none repeat scroll 0 0 black;
    	border: 2px solid #FFFFFF;
    	border-radius: 50% 50% 50% 50%;
    	display: block;
    	height: 17px;
    	position: relative;
    	left: -51px;
    	list-style: none outside none;
    	width: 17px;
    	margin: 99px 0;
        &:first-child {
            margin-top: 0;
        }
		span {
			left: -64px;
    		position: relative;
		}
	}
}
.main {
    margin-left: 250px;
}

article {
    display: inline-block;
}



